/* PAGE CONTACT CSS*/

.col-sm-6 p{
  text-align: center;
  font-size:1.6rem;
  padding-top:3rem;
  line-height:2.2rem
}

.col-sm-12 p {
  font-size:1.6rem;
  padding-top:3rem;
  line-height:2.2rem
}

/* FORMULAIRE CONTACT*/

#bloc-7 .row  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;    
}

.bloc-contact {
  width: 50%;
  
}

input {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-sizing: border-box; 
    margin-top: 15px;
    margin-bottom: 20px; 
    resize: vertical 
  }

  button[type=submit] {
    width: 100%;
    background-color: #87340D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
  }

  #message {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-sizing: border-box; 
    margin-top: 15px; 
    margin-bottom: 20px; 
    resize: vertical 
  }